@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.menu {
    &__icon {
        width: 30px;
        height: 30px;
    }

    &__nav {
        @include flex(space-between);
        flex-direction: column;
        height: 100vh;
        padding-top: 2rem;
    }

    &__nav-item {
        border-bottom: solid 1px $border-primary-light;
        padding: 1rem 0;
    }

    &__nav-item-icon {
        height: 25px;
        width: 25px;
    }

    &__footer {
        flex-grow: 0;
    }

    &__bottom-nav {
        @include flex(space-between);
    }

    &__bottom-nav-text {
        font-size: .75rem;
    }

    &__nav-bottom-icons {
        flex-grow: 0;
    }

    &__nav-bottom-icon {
        height: 20px;
        width: 20px;
    }

    &__copyright {
        font-size: .625rem;
        margin: 0.5rem 1.125rem 1rem;
    }
}