@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.gallery {
    margin-top: .5rem;

    &__title {
        font-size: 1.375rem;
        margin: 0.5rem 0;
        padding: 1rem 0 0;

        @include tablet {
            font-size: 1.75rem;
        }

        @include desktop {
            font-size: 2.25rem;
        }
    }

    &__container {
        @include flex(space-between, stretch);
    
        flex-wrap: wrap;
        margin: 1rem 0;

        @include tablet {
            justify-content: flex-start;
        }
    }

    &__card {
        border: solid 1px $border-primary-dark;
        margin: .125rem;
        padding: .5rem;
        width: 48%;

        @include tablet {
            width: 32%;
            margin: .125rem 0.66%;
        }

        @include desktop {
            width: 24%;
            margin: .125rem 0.5%;
        }
    }

    &__image {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
    }

    &__name-link {
        color: $text-primary-dark;
        text-decoration: none;

        &:hover {
            color: $text-secondary-dark;
        }
    }

    &__tag {
        font-size: .6875rem;
    }

    &__buttons {
        @include desktop {
            @include flex(center, center);
            margin: 2rem;
        }
    }

    &__button {
        width: 100%;

        @include desktop {
            width: auto;
        }
    }
}