@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.gallery {
    border-top: solid 1px $border-primary-dark;
    margin-top: 2rem;
    padding-top: 1rem;

    &__title {
        font-size: 1.375rem;
        margin-bottom: 0.5rem;

        @include tablet {
            font-size: 1.75rem;
        }

        @include desktop {
            font-size: 2.25rem;
        }
    }

    &__container {
        @include flex(space-between, center);
    
        flex-wrap: wrap;
        margin: 1rem 0;
    }

    &__card {
        border: solid 1px $border-primary-dark;
        margin: .125rem;
        padding: .5rem;
        width: 48%;

        @include tablet {
            width: 31%;
        }
    }

    &__image {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
    }

    &__tag {
        font-size: .6875rem;
    }

    &__buttons {
        @include desktop {
            @include flex(center, center);
            margin: 2rem;
        }
    }

    &__button {
        width: 100%;

        @include desktop {
            width: auto;
        }
    }

    @include tablet {
        padding-top: 1.25rem;
    }

    @include desktop {
        padding-top: 2rem;
    }
}