@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.item {
    border: solid 1px $border-primary-light;
    padding: 1rem;
    margin: 0.5rem 0;

    &__image-container {
        @include tablet {
            height: auto;
            position: relative;
            width: 50%;
        }

        @include desktop {
            width: 100%;
        }
    }

    &__image {
        aspect-ratio: 3 / 2;
        object-fit: cover;
        overflow: hidden;
        width: 100%;

        @include desktop {
            aspect-ratio: 16 / 9;
        }
    }

    &__creator {
        background-color: $bg-primary-light;
        margin-bottom: 1rem;
        padding: 0.5rem;

        @include tablet {
            background: none;
            position: absolute;
            top: 0;
        }
    }

    &__creator-container {
        @include flex(flex-start, center);
    }

    &__creator-image {
        border-radius: 50%;
        height: 35px;
        margin-right: 0.5rem;
        width: 35px;
        object-fit: cover;
    }

    &__creator-name {
        font-size: .825rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__details {
        @include tablet {
            padding: 0.25rem 0 0 1rem;
            width: 50%;
        }

        @include desktop {
            width: 100%;
            padding: 1rem 0.25rem;
        }
    }

    &__details-title {
        font-size: 1.5rem;

        @include desktop {
            font-size: 3rem;
        }
    }

    &__details-tags {
        @include flex();
        font-size: .625rem;
        font-weight: 500;
        margin: 0.5rem 0;
        text-transform: uppercase;

        @include desktop {
            font-size: 0.75rem;
        }
    }

    &__details-tag {
        @include flex(flex-start, center);

        background-color: $bg-primary-light;
        border-radius: 0.25rem;
        margin-right: 0.5rem;
        padding: .25rem .5rem;
        vertical-align: middle;
    }

    &__details-description {
        margin: 1rem 0;

        @include desktop {
            font-size: 1.125rem;
        }
    }

    &__details-buttons {
        @include flex(space-between, center);
    }

    @include tablet {
        @include flex(space-between);
    }

    @include desktop {
        flex-direction: column;
    }
}
