/*

Grey #EFEFEF
Black #302B27
Purple #5861AF
Yellow #F4FF75

*/

$bg-primary-light: #EFEFEF;
$bg-primary-dark: #5861AF;
$bg-primary-dark-opacity: rgba(88,97,175,0.7);

$text-primary-dark: #302B27;
$text-primary-light: #EFEFEF;