/*

Grey #EFEFEF
Black #302B27
Purple #5861AF
Yellow #F4FF75

*/

$bg-primary-light: #F6F4F0;
$bg-primary-dark: #5F619D;
$bg-primary-dark-opacity: rgba(95,97,157,0.7);
$bg-secondary-light: #BE6E46;
$bg-secondary-dark: #368F8B;

$border-primary-dark: #02010A;
$border-secondary-dark: #5F619D;
$border-primary-light: #F6F4F0;
$border-secondary-light: #368F8B;
$border-highlight: #BE6E46;

$text-primary-dark: #02010A;
$text-secondary-dark: #5F619D;
$text-primary-light: #F6F4F0;
$text-secondary-light: #BE6E46;

