/*

Grey #EFEFEF
Black #302B27
Purple #5861AF
Yellow #F4FF75

*/

$bg-primary-light: #EFEFEF;
$bg-primary-dark: #5861AF;
$bg-primary-dark-opacity: rgba(88,97,175,0.7);
$bg-secondary-light: #F4FF75;

$border-primary-dark: #302B27;
$border-secondary-dark: #5861AF;
$border-primary-light: #EFEFEF;
$border-secondary-light: #9a9a9a;

$text-primary-dark: #302B27;
$text-secondary-dark: #5861AF;
$text-primary-light: #EFEFEF;
$text-secondary-light: red;

