@use "./mixins" as *;
@use "./variables" as *;

.button {
    background-color: $bg-primary-light;
    border: none;
    border-radius: 1.25rem;
    color: $text-primary-dark;
    font-size: .75rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background-color: $bg-secondary-light;
        color: $text-primary-dark;
    }

    &__primary {
        background-color: $bg-primary-dark;
        color: $text-primary-light;
    }

    &__container {
        @include flex(center);

        & >  .button {
            text-align: center;
            width: 100%;

            @include desktop {
                max-width: 700px;
            }
        }
    }

    &__icon {
        background-color: rgba(255,255,255,0);
        border: none;
        border-radius: 0;
        padding: 0;
        text-decoration: none;
    }

    @include desktop {
        font-size: 1rem;
    }
}