@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.details {
    margin: 1rem; 

    &__creator {
        @include flex(flex-start, center);
        margin: 1rem 0;

        @include desktop {
            margin-top: 2rem;
        }
    }

    &__creator-image {
        border-radius: 50%;
        height: 35px;
        margin-right: 0.5rem;
        width: 35px;
        object-fit: cover;
    }

    &__creator-name {
        font-size: .825rem;
        font-weight: 500;
        text-transform: uppercase;

        @include desktop {
            font-size: 1rem;
        }
    }

    &__title {
        font-size: 1.5rem;

        @include tablet {
            font-size: 2.25rem;
        }

        @include desktop {
            font-size: 3rem;
        }
    }

    &__tags {
        @include flex();
        font-size: .625rem;
        font-weight: 500;
        margin: 0.5rem 0 1rem;
        text-transform: uppercase;

        @include desktop {
            font-size: 1rem;
            margin-bottom: 2rem;
        }
    }

    &__tag {
        background-color: $bg-primary-light;
        border-radius: 0.25rem;
        margin-right: 0.5rem;
        padding: .25rem .5rem;
    }

    &__image-container {
        @include tablet {
            height: auto;
            position: relative;
        }
    }

    &__image {
        aspect-ratio: 3 / 2;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
    }

    &__description {
        margin: 1rem 0;

        @include desktop {
            font-size: 1.375rem;
            line-height: 1.875rem ;
        }
    }

    &__button {
        width: 100%;

        @include desktop {
            width: auto;
        }
    }

    @include tablet {
        margin: 1.25rem 2rem;
    }

    @include desktop {
        margin: 1.25rem 8rem;
    }
}
