@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.details {

    &__image {
        border-radius: 1.25rem;
        margin: 1rem 0;
    }

    &__plus-button {
        position: absolute;
        right: -0.625rem;
        top: 0;
    }

    &__title {
        font-size: 1.5rem;
        line-height: 2.5rem;

        @include tablet {
            font-size: 2.25rem;
        }

        @include desktop {
            font-size: 3rem;
        }
    }

    &__profile-name {
        font-size: .875rem;
        font-style: italic;
        line-height: 1.5rem;
    }

    &__tags {
        @include flex();
        font-size: .625rem;
        font-weight: 500;
        margin: 0.5rem 0 1rem;
        text-transform: uppercase;

        @include desktop {
            font-size: 1rem;
            margin-bottom: 2rem;
        }
    }

    &__tag {
        background-color: $bg-primary-light;
        border-radius: 0.25rem;
        margin-right: 0.5rem;
        padding: .25rem .5rem;
    }

    &__image-container {
        position: relative;

        @include tablet {
            height: auto;
            position: relative;
        }

        @include desktop {
            margin: 0 1rem 0 0;
        }
    }

    &__image {
        aspect-ratio: 3 / 2;
        object-fit: cover;
        overflow: hidden;
        width: 100%;

        @include tablet {
            aspect-ratio: 16 / 9;
        }
    }

    &__description {
        margin: 1rem 0;
        line-height: 1.5rem;

        @include desktop {
            font-size: 1.375rem;
            line-height: 1.875rem ;
        }
    }

    &__buttons {
        @include flex(space-between, center);
    }

    &__button-link {
        flex-grow: 1;
        margin-right: 1rem;
    }

    &__button {
        width: 100%;
    }

    @include desktop {
        margin: 0 auto;
    }
}
