@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.site-header {
    background-color: $bg-secondary-dark;
    min-width: 14rem;
    padding: 2.5rem 1.25rem 1.25rem;
    @include flex(space-between, flex-start);

    &__logo {
        margin-bottom: 1rem;
    }

    &__nav-links {
        @include flex(center, baseline);
        flex-direction: column;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-top: 1rem;
        padding-inline-start: 0;
        width: 100%;

        @include tablet {
            flex-direction: row;
            margin-top: 0;
            width: auto;
        }

        @include desktop {
            justify-content: flex-end;
        }
    }

    &__nav-link {
        color: $text-primary-dark;
        font-size: .875rem;
        font-weight: 500;
        margin: 0.25rem 0;
        padding: .5rem 1rem;
        text-align: center;
        text-decoration: none;
        width: 100%;

        &--active {
            background-color: $bg-primary-dark;
            border-radius: 1.25rem;
            color: $text-primary-light;
        }

        &:hover {
            background-color: $bg-primary-dark-opacity;
            border-radius: 1.25rem;
            color: $text-primary-light;
        }

        @include tablet {
            margin: 0.25rem;
            width: auto;
        }

        @include desktop {
            margin: 0.25rem 0 0.25rem 0.25rem;
        }
    }

    &__footer-nav {
        @include flex (flex-start, center);
    }

    @include tablet {
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        padding: 1.25rem;
    }

    @include desktop {
        min-width: 16rem;
        padding: 1.25rem 1.75rem;
    }
}