@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.create-page {
    @include flex;
    flex-direction: column;

    @include tablet {
        align-items: stretch;
        flex-direction: row;
        justify-content: space-between;
    }

    @include desktop {
        max-width: 700px;
        margin: 0 auto;
    }
}