@use "./styles/fonts";
@use "./styles/mixins" as *;
@use "./styles/variables" as *;

// border-sizing reset
* {
  box-sizing: border-box;
}

// Margin reset and setting font-family
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: $text-primary-dark;
}