@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.create-form {
    &__field {
        @include flex();
        flex-direction: column;
        margin: 1rem 0;
    }

    &__label {
        font-size: .825rem;
        font-weight: 500;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
    }

    &__input {
        border: solid 1px $border-primary-dark;
        border-radius: .25rem;
        padding: 0.5rem;

        &--placeholder {
            background-color: $bg-primary-light;
        }
    }

    &__textarea {
        border: solid 1px $border-primary-dark;
        border-radius: .25rem;
        height: 9.375rem;
        padding: 0.5rem;
    }

    &__buttons-container {
        @include flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include tablet {
            flex-direction: row;
            align-items: baseline;
        }
    }

    &__button-reset {
        margin-bottom: 0.5rem;

        @include tablet {
            margin-right: 1rem;
        }
    }

    @include tablet {
        margin: 4rem auto;
        max-width: 700px;
    }
}